<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 

 <style>
  
   :root{
    --primary-color:  #354380;
    /* --primary-color: radial-gradient(#d8e2f3, #354380); */
    --secondary-color: #212121;
  }
  .dark-theme{
    --primary-color: #111222;
    /* --primary-color: radial-gradient(#d8e2f3,10%, #000106); */
    --secondary-color:#fff;
  } 

  #icon{
    width: 20px;
    cursor: pointer;
    transform: scale(2.1);
    background: transparent;
    margin-left: 60px;
    border-top: 2px solid transparent;
  }

  .navbar-right a{
    display: inline-block;
    text-decoration: none;
    color: black;
    background: #c2e7a9;
    border: 1px solid #c2e7a9;
    padding: 9px 15px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
  }
  .navbar-right a:hover{
    transform: scale(1.2);
    border: 1px solid #f5dca8;
    background: transparent;
    color: #f1f0f0;
    transition: .20s;
  }
 </style>
 
 
 <style>
   
    .navbar-navbar-default {
      padding-top: 15px;
      color: rgb(0, 0, 0);
      margin-bottom: 10px;
    }
   
    .main-content {
      padding-bottom: 1%;
      text-align: center;
      /* background-image: url("https://i.stack.imgur.com/SvWWN.png"); */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .main-content h1 {
      margin-top: 0; /* Remove the default margin from the h1 element */
      font-size: 100px;
      color:#fff;
    }
    .navbar-header .navbar-brand{
      padding-top: 18px;
      font-size: 25px;
      color:#fff;
    }
    body {
      margin: 0;
      padding: 0;
    }

    .content .main-content .text-box a{
      display: inline-block;
      text-decoration: none;
      color: black;
      background: #e76c02;
      border: 1px solid #e76c02;
      padding: 9px 25px;
      line-height: 1.4;
      border-radius: 30px;
      font-size: 14px;
      font-weight: 500;
    } 
    .content .main-content .text-box a:hover{
      transform: scale(1.2);
      border: 1px solid #f5dca8;
      background: transparent;
      color: white;
      transition: .20s;
    }
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
    body{
      overflow-x: hidden;
      background: var(--primary-color);
    }
  </style>

  <style>
    html{
      scroll-behavior: smooth;
    }

    section{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 80px 100px;
        color: #fff;
    }



    .main-title{
        font-size: 5.5rem;
        margin-bottom: 50px;
    }

    .contentsee{
        position: relative;
        width: 1150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contentsee .image-f{
        position: relative;
        width: 800px;
        height: 400px;
        overflow: hidden;
    }

    .contentsee .image-f img{
        z-index: 111;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .contentsee .text-box{
        z-index: 222;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        padding: 40px;
        max-width: 400px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        transform: translate(-20px , 70px);
    }

    .contentsee .text-box h3{
        font-size: 2em;
        margin-bottom: 10px;
    }

    .content .main-content .media-icons{
        margin-top: 100px;
    }

    .content .main-content .media-icons a{
        color: #fff;
        font-size: 2em;
        margin: 60px;
        cursor: pointer;
    }


    span{
      /* color: #000106; */
      color: #e76c02;
    }

    @media screen and (width < 600px) {
      .nav-main {
        padding: none;
      }
      .contentsee{
        position: relative;
        width: 1150px;
        display: grid;
        justify-content: center;
        align-items: center;
      }
      .contentsee .image-f{
        position: relative;
        width: 800px;
        height: 400px;
        overflow: hidden;
        margin-left: 300px;
      }
    .contentsee .text-box{
        z-index: 222;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        padding: 40px;
        margin-top: -50;
        margin-left: 520px;
        max-width: 400px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        transform: translate(-20px , 70px);
      }
      .main-title{
        margin-left: 320px;
      }
    }

    @media screen and (width >= 600px) {
      .nav-main {
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 30px; 
      }
        .contentsee{
        position: static;
        width: 1150px;
        justify-content: center;
        align-items: center;
      }
    }
  </style>
</head>
<body>

  <div class="nav-main">
    <!-- Navigation bar -->
    <nav class="navbar-navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">NICEDREAM 
            <i class='bx bx-moon'></i>
            
          </a>
        </div>
        
        <h4>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/customers_auth/productsForm">Products</a></li>
            <li><a href="/service">Service</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <!-- <img src="images/moon.png" id="icon">   -->
          </ul>
        </h4>

        
        <!-- Login and cart -->
        <div class="navbar-right">

          <a href="/loginForm"><i class='bx bx-group'></i>Login</a> 
          <!--   -->
          <a class="register" href="/signupForm"><i class='bx bx-group'></i>Register</a>
          
        </div>
      </div>
    </nav>
  </div>


  <!-- Main content -->
    <div class="content">
      <div class="grid">
        <div class="main-content">
          <section class="sec-01">
            <div class="container">
                <h2 class="main-title">NICE<span> DREAM</span></h2>
                <div class="contentsee">
                    <div class="image-f">
                        <img src="images/tokyostyle.jpg">
                    </div>
                    <div class="text-box">
                        <h3>Fashion Tokyo</h3>
                        <p>The answer to that question is simple, banning legalized and regulated online gambling in any form, just makes another way for organized crime to get a hold of peoples money, and then no one but the criminals wins.</p>
                        <a href="/customers_auth/productsForm">Click to Store</a>
                    </div>
                </div>    
                <div class="media-icons">
                    <a href="https://www.facebook.com/" class="icon"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/" class="icon"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/" class="icon"><i class="fab fa-twitter"></i></a>
                    <a href="https://line.me/th/" class="icon"><i class="fab fa-line"></i></a>
                </div>
            </div> 
      </div>   
    </section>

      </div>
    </div>


    <!-- <script>
      var icon = document.getElementById("icon");
    
      icon.onclick = function(){
          document.body.classList.toggle("dark-theme");
          if(document.body.classList.contains("dark-theme")){
              icon.src = "public/images/moon.png";
          }else{
              icon.src = "public/images/sun.png";
          }
      }
    </script> -->
    
    <script> 
      ScrollReveal({ 
        reset: true, 
        distance: '60px',
        duration: 2500,
        delay: 400
      });
      ScrollReveal().reveal('.main-title, .section-title', { delay: 100, origin: 'left' });
      ScrollReveal().reveal('.sec-01 .image-f, .info',  { delay: 200, origin: 'bottom' });
      ScrollReveal().reveal('.text-box', { delay: 300, origin: 'right' });
      ScrollReveal().reveal('.media-icons i', { delay: 500, origin: 'bottom', interval: 200 });
    </script>

</body>
</html>